.marbel {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background-color: antiquewhite;
    padding: 25px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
  }

  /* for marble menu */
  .mcol {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 10px;
    align-items: center;
    justify-content: center;
  }

  .mcol > div {
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }

  .mcol > div:hover {
    transform: translateY(-5px);
  }

  .mcol img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    transition: all 0.3s ease;
  }

  .mcol p {
    margin: 10px 0;
    font-weight: bold;
    text-transform: uppercase;
  }

  .mcol p {
    text-align: center;
    margin-top: 10px;
  }

  @media (max-width: 430px) {
    .mcol {
      display: grid;
      align-items: center;
      justify-content: center;
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 5;
    }
  }

  .mcol {
    animation: fadeIn 2s ease-out;
  }

  /* granite menu */
  .granite {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background-color: rgb(185, 183, 180);
    padding: 25px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
  }

  /* granite menu */
  .Gcol {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 10px;
    align-items: center;
    justify-content: center;
  }

  .Gcol > div {
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }

  .Gcol > div:hover {
    transform: translateY(-5px);
  }

  .Gcol img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    transition: all 0.3s ease;
  }

  .Gcol p {
    margin: 10px 0;
    font-weight: bold;
    text-transform: uppercase;
  }

  @media (max-width: 430px) {
    .Gcol {
      display: grid;
      align-items: center;
      justify-content: center;
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      gap: 10px;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 5;
    }
  }

  .mcol {
    animation: fadeIn 2s ease-out;
  }